    body{
      font-family: Arial;
    }

    .wrapper{
      display: grid;
      grid-template-columns: 500px 500px;
      /*grid-auto-rows:minmax(10px, auto);*/
    }

    .screen{
      display: grid;
      border-right:blue 1px dashed;
      padding: 0.5em;
      grid-template-rows: 100px 400px 100px;
      align-content: center;
    }

/*    .input{
      display: grid;
      background: #eee;
      grid-template-rows: 100px 400px 100px;
    }*/

    .btn{
      padding: 0.6em 1.3em;
      position: center;
    }

    .prompt > span {
      align-self: flex-end;
    }

    .wrapper > div {
      background: #eee;
      padding: 0.5em;
    }
/*    .wrapper > div:nth-child(odd){
      background: #ddd;
    }*/

    .input > div {
      /*border: blue 1px dashed;*/
      padding: 0.5em;
    }

    .screen > div {
      /*border: blue 1px dashed;*/
      padding: 0.5em;
    }

    #textin{
      resize: none;
      border: solid 1px blue;
      background:#eee;
      width: 100%;
      height: 90%;
      font-family: arial;
      box-sizing: border-box;
    }

    #prompt-holder{
      position: relative;
    }

    #prompt{
      position: absolute;
      bottom: 0;
      left: 0;
    }

    #player{
      width:100%;
    }

    #canvas-holder{
      text-align: center;
    }